{% extends 'customizations.html' %}
{% import 'macros.html' as macros %}
{% set pageTitle %}Amministrazione / Configurazione{% endset %}
{% block header %}
<h1>Amministrazione / Configurazione</h1>
{{ parent() }}
{% endblock %}
{% block body %}
<div class="main">
	<div class="section">
		<h2>Configura il sito</h2>
		<p>Imposta i valori delle variabili utilizzate nelle pagine del sito.</p>
		<form method="post">
			<label>
				<span>Titolo del sito *</span>
				<input name="siteTitle" required="required" value="{{ siteTitle }}"/>
			</label>
			<label>
				<span>Comune *</span>
				<input name="municipality" required="required" value="{{ municipality }}"/>
			</label>
			<label>
				<span>Esercizio *</span>
				<input max="2016" min="1996" name="defaultCycleCode" required="required" type="number" value="{{ defaultCycleCode }}"/>
			</label>
			<label>
				<span>Email *</span>
				<input name="email" required="required" type="email"  value="{{ email }}"/>
			</label>
			<label>
				<span>Telefono *</span>
				<input name="phone" required="required" value="{{ phone }}"/>
			</label>
			<label>
				<span>Responsabile/i del sito *</span>
				<input name="siteManager" required="required" value="{{ siteManager }}"/>
			</label>
			<label>
				<span>Responsabile/i dei dati *</span>
				<input name="dataManager" required="required" value="{{ dataManager }}"/>
			</label>
			<label>
				<span>Nome utente *</span>
				<input name="user" required="required" value="{{ user }}"/>
			</label>
			<label>
				<span>Password utente *</span>
				<input name="password" pattern=".{5,}" required="required" type="password"/>
			</label>
			<label>
				<span>In sviluppo *</span>
				<select name="debug" required="required">
					<option {% if debug %}selected="selected"{% endif %} value="true">Sì</option>
					<option {% if not debug %}selected="selected"{% endif %} value="false">No</option>
				</select>
			</label>
			<button type="submit">Configura</button>
		</form>
	</div>
</div>
<div class="aside">
	<div class="section">
		<h2>Funzionalità d'amministrazione</h2>
		<ul class="menu">
			<li><strong>Configurazione</strong></li>
			<li><a href="amministrazione/importazione.html">Importazione</a></li>
			<li><a href="amministrazione/riparazione.html">Riparazione</a></li>
		</ul>
	</div>
</div>
{% endblock %}