{#
© Copyright 2016 Associazione di promozione sociale Redde Rationem

This file was authored by:

- Gianmarco Tuccini <gianmarcotuccini@redderationem.org>
- Paolo Landi <paololandi@redderationem.org>
- Marco Santini <marcosantini@redderationem.org>

This file is part of BilancioCivico.

BilancioCivico is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BilancioCivico is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BilancioCivico.  If not, see <http://www.gnu.org/licenses/>.

Supplemental term under GNU Affero General Public License version 3 section 7

You must retain the whole attribution (both the copyright line and the actual authors' list)
#}
{% extends 'customizations.html' %}
{% import 'macros.html' as macros %}
{% set pageTitle %}Contatti{% endset %}
{% block header %}
<h1>Contatti</h1>
{{ parent() }}
{% endblock %}
{% block body %}
<div class="main">
	<div class="section">
		<h2>Contattaci tramite il sito</h2>
		<p>Puoi inviarci un messaggio compilando il seguente modulo. Ti risponderemo appena possibile.</p>
		<form method="post">
			<label>
				<span>Oggetto *</span>
				<input name="subject" placeholder="Il titolo del tuo messaggio" required="required"/>
			</label>
			<label>
				<span>Recapito *</span>
				<input name="contact" placeholder="Email, cellulare o telefono" required="required"/>
			</label>
			<label>
				<span>Messaggio *</span>
				<textarea name="message" placeholder="Quel che vuoi segnalarci" required="required"></textarea>
			</label>
			<button type="submit">Invia</button>
		</form>
	</div>
</div>
<div class="aside">
	<div class="section">
		<h2>Chiamaci</h2>
		<p>Se preferisci contattarci offline puoi chiamarci al numero {{ phone }}.</p>
	</div>
</div>
{% endblock %}