{#
© Copyright 2016 Associazione di promozione sociale Redde Rationem

This file was authored by:

- Gianmarco Tuccini <gianmarcotuccini@redderationem.org>
- Paolo Landi <paololandi@redderationem.org>
- Marco Santini <marcosantini@redderationem.org>

This file is part of BilancioCivico.

BilancioCivico is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BilancioCivico is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BilancioCivico.  If not, see <http://www.gnu.org/licenses/>.

Supplemental term under GNU Affero General Public License version 3 section 7

You must retain the whole attribution (both the copyright line and the actual authors' list)
#}
{% extends 'customizations.html' %}
{% import 'macros.html' as macros %}
{% set pageTitle %}{{ cycleCode }} / Sezioni{% endset %}
{% block header %}
<h1>{{ cycleCode }} / Sezioni</h1>
{{ parent() }}
<div class="navigation secondary">
	<form>
		<label><input name="match" placeholder="Cosa cerchi?"/></label>
		<button type="submit">Cerca</button>
	</form>
	<ul>
		<li><a href="{{ cycleCode }}/operazioni.html">Operazioni</a></li>
		<li><a href="{{ cycleCode }}/capitoli.html">Capitoli</a></li>
		<li><strong>Sezioni</strong></li>
		<li><a href="{{ cycleCode }}/atti.html">Atti</a></li>
		<li><a href="{{ cycleCode }}/soggetti.html">Soggetti</a></li>
	</ul>
</div>
{% endblock %}
{% block body %}
<div class="main">
	<div class="section">
		<h2>Le sezioni del bilancio</h2>
		<p>Il bilancio comunale è strutturato in tante voci chiamate sezioni, che sono definite dalla legge. Le sezioni sono strutturate a più livelli e codificate secondo un preciso schema. Sono ripartite in due categorie principali, entrate e spese, i cui importi titali nel bilancio di previsione si devono compensare ed <a href="https://it.wikipedia.org/wiki/Equilibrio_%28bilancio_comunale%29">essere in equilibrio</a>.</p>
		<p>Per lo schema di bilancio comunale si fa riferimento alla struttura del DPR 196/1994, nel quale le entrate e le spese sono distinte, rispettivamente, in sei e quattro grandi voci chiamate titoli, che identificano delle macro aree di bilancio.</p>
		<p>Le sezioni delle entrate sono suddivise in tre livelli gerarchici, titoli, categorie e risorse, che corrispondono, rispettivamente, alla fonte di provenienza (titolo), alla tipologia di entrata (categoria) e all'oggetto dell'entrata (risorsa). Le sezioni della parte spesa, sono suddivise in quattro livelli gerarchici, titoli, funzioni, servizi ed interventi, rispettivamente riferiti ai principali aggregati economici (titoli), alle funzioni degli enti (funzioni), ai singoli uffici che le gestiscono (servizi) e alla natura economica dei fattori produttivi (interventi). Come per le entrate, ciascuna sezione del bilancio è quindi identificata da un codice numerico.</p>
	</div>
</div>
<div class="aside">
	<div class="section">
		<h2>Elenchi completi</h2>
		<ul class="menu">
			<li><a href="{{ cycleCode }}/sezioni.html?match=Mostra tutto&operator=&gt;">Entrate per codice crescente</a></li>
			<li><a href="{{ cycleCode }}/sezioni.html?match=Mostra tutto">Spese per codice crescente</a></li>
		</ul>
	</div>
</div>
{% endblock %}