{#
© Copyright 2016 Associazione di promozione sociale Redde Rationem

This file was authored by:

- Gianmarco Tuccini <gianmarcotuccini@redderationem.org>
- Paolo Landi <paololandi@redderationem.org>
- Marco Santini <marcosantini@redderationem.org>

This file is part of BilancioCivico.

BilancioCivico is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BilancioCivico is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BilancioCivico.  If not, see <http://www.gnu.org/licenses/>.

Supplemental term under GNU Affero General Public License version 3 section 7

You must retain the whole attribution (both the copyright line and the actual authors' list)
#}
{% extends 'customizations.html' %}
{% import 'macros.html' as macros %}
{% set class %}home{% endset %}
{% set pageTitle %}{% endset %}
{% block header %}
<h1><img src="images/logo120.png"/>{{ siteTitle }}</h1>
{{ parent() }}
<div class="navigation secondary home">
	<form action="{{ cycleCode }}/operazioni.html">
		<label><input name="match" placeholder="Cosa cerchi?"/></label>
		<button type="submit">Cerca</button>
	</form>
</div>
{% endblock %}
{% block body %}
<div class="main">
	<div class="section">
		<h2>Il bilancio comunale 2015 a colpo d'occhio {{ test }}</h2>
		<div class="atAGlance">
			<div style="width: {{ atAGlance.inUsedAmountPercent }}%;"><span>Entrate: {{ macros.toAmount(atAGlance.inUsedAmount) }}</span></div>
			<div><span>Totale preventivato: {{ macros.toAmount(atAGlance.amount) }}</span></div>
			<div style="width: {{ atAGlance.outUsedAmountPercent }}%;"><span>Spese: {{ macros.toAmount(atAGlance.outUsedAmount) }}</span></div>
		</div>
	</div>
	<div class="section">
		<h2>Le entrate a colpo d'occhio</h2>
		<ul class="list">
			{% for v in divisionsAtAGlance.inRows %}
			<li>
				<a href="{{ cycleCode }}/sezioni.html?match=&quot;{{ v.description }}&quot;&operator=>">{{ v.description }}</a>
				<div class="sparkline">
					<div style="width: {{ v.amountPercent }}%"></div>
					<div style="width: {{ v.usedAmountPercent }}%"></div>
				</div>
				<div class="details">
					<input id="division{{ v.id }}" type="checkbox"/>
					<label for="division{{ v.id }}">
						{{ macros.toAmount(v.amount) }}
					</label>
					<dl>
						<dt>Codice</dt>
						<dd>{{ v.code }}</dd>
						<dt>Descrizione</dt>
						<dd>{{ v.description }}</dd>
						<dt>Preventivato</dt>
						<dd>{{ macros.toAmount(v.amount) }} ({{ macros.toPercent(v.amountPercent) }}% del bilancio)</dd>
						<dt>Totale</dt>
						<dd>{{ macros.toAmount(v.usedAmount) }} ({{ macros.toPercent(v.amountUsedAmountPercent) }}% del preventivato)</dd>
					</dl>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="section">
		<h2>Le spese a colpo d'occhio</h2>
		<ul class="list">
			{% for v in divisionsAtAGlance.outRows %}
			<li>
				<a href="{{ cycleCode }}/sezioni.html?match=&quot;{{ v.description }}&quot;">{{ v.description }}</a>
				<div class="sparkline">
					<div style="width: {{ v.amountPercent }}%"></div>
					<div style="width: {{ v.usedAmountPercent }}%"></div>
				</div>
				<div class="details">
					<input id="division{{ v.id }}" type="checkbox"/>
					<label for="division{{ v.id }}">
						{{ macros.toAmount(v.amount) }}
					</label>
					<dl>
						<dt>Codice</dt>
						<dd>{{ v.code }}</dd>
						<dt>Descrizione</dt>
						<dd>{{ v.description }}</dd>
						<dt>Preventivato</dt>
						<dd>{{ macros.toAmount(v.amount) }} ({{ macros.toPercent(v.amountPercent) }}% della sezione superiore)</dd>
						<dt>Totale</dt>
						<dd>{{ macros.toAmount(v.usedAmount) }} ({{ macros.toPercent(v.amountUsedAmountPercent) }}% del preventivato)</dd>
					</dl>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="aside">
	<div class="section">
		<h2>Il progetto</h2>
		<p>{{ siteTitle }} è uno strumento che aiuta i cittadini del Comune di {{ municipality }} a comprendere il bilancio comunale. Il sito presenta i dati in forma aggregata e consente — tramite la ricerca — di approfondirne l'analisi fino alla singola decisione.</p> 
	</div>
</div>
{% endblock %}