{% extends 'customizations.html' %}
{% import 'macros.html' as macros %}
{% set pageTitle %}Amministrazione / Importazione{% endset %}
{% block header %}
<h1>Amministrazione / Importazione</h1>
{{ parent() }}
{% endblock %}
{% block body %}
<div class="main">
	<div class="section">
		<h2>Importa i dati</h2>
		<p>Carica i dati di un esercizio nel formato xml standard di BilancioCivico.</p>
		<form enctype="multipart/form-data" method="post">
			<label>
				<span>File</span>
				<input name="file" required="required" type="file"/>
			</label>
			<button type="submit">Importa</button>
		</form>
	</div>
</div>
<div class="aside">
	<div class="section">
		<h2>Funzionalità d'amministrazione</h2>
		<ul class="menu">
			<li><a href="amministrazione/configurazione.html">Configurazione</a></li>
			<li><strong>Importazione</strong></li>
			<li><a href="amministrazione/riparazione.html">Riparazione</a></li>
		</ul>
	</div>
</div>
{% endblock %}