{#
© Copyright 2016 Associazione di promozione sociale Redde Rationem

This file was authored by:

- Gianmarco Tuccini <gianmarcotuccini@redderationem.org>
- Paolo Landi <paololandi@redderationem.org>
- Marco Santini <marcosantini@redderationem.org>

This file is part of BilancioCivico.

BilancioCivico is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BilancioCivico is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BilancioCivico.  If not, see <http://www.gnu.org/licenses/>.

Supplemental term under GNU Affero General Public License version 3 section 7

You must retain the whole attribution (both the copyright line and the actual authors' list)
#}
{% extends 'customizations.html' %}
{% import 'macros.html' as macros %}
{% set pageTitle %}Che cos'è {{ siteTitle }}{% endset %}
{% block header %}
<h1>Che cos'è {{ siteTitle }}</h1>
{{ parent() }}
{% endblock %}
{% block body %}
<div class="main">
	<div class="section">
		<h2>Il progetto</h2>
		<h3>Benvenuti su {{ siteTitle }}!</h3>
		<p>Vi siete mai chiesti come vengono gestiti i soldi dei cittadini dall'amministrazione comunale? {{ siteTitle }} è uno strumento che aiuta i cittadini del Comune di {{ municipality }} a comprendere il bilancio comunale. Il sito presenta i dati in forma aggregata e consente — tramite la ricerca — di approfondirne l'analisi fino alla singola decisione.</p>
		<h3>Che cos'è il bilancio del Comune?</h3>
		<p>Il bilancio è lo strumento con il quale l'amministrazione programma le attività e i servizi dell'ente per l'anno in corso ed i due successivi. Al suo interno sono indicate le entrate e le uscite definite dall'amministrazione sulla base delle necessità e delle priorità della Città.</p>
		<p>Acquisire familiarità con i numeri del bilancio comunale è il primo passo per entrare nell’analisi. Ma quale bilancio? Esistono diverse tipologie di bilancio, a livello comunale.</p>
		<p>Si parla di bilancio preventivo (o di previsione) in contrapposizione a quello consuntivo (o rendiconto di quanto realmente realizzato); o ancora del bilancio di cassa in contrapposizione a quello di competenza, dove il primo (cassa) si riferisce a flussi monetari effettivi – somme effettivamente entrate ed uscite dalla cassa – mentre un bilancio di competenza evidenzia le spese programmate (impegnate ma non ancora spese) e le entrate attendibili (accertate ma non ancora incassate).</p>
		<p>Con {{ siteTitle }} viene mostrato il bilancio di competenza, con i dati relativi alla previsione ed ai flussi monetari effettivi.</p>
		<p>Però il bilancio non è soltanto un insieme di numeri o uno strumento riservato agli esperti: esso influisce sul vivere quotidiano dei cittadini, dà l'impronta alla comunità e stabilisce le priorità in tanti settori diversi: dagli aiuti sociali, alla scuola, alle opere pubbliche, alle opportunità economiche e culturali ecc.</p>
		<p>Si avverte la necessità che l'amministrazione informi il proprio elettorato sugli obbiettivi che persegue e con quali spese vuole raggiungerli.</p>
		<h3>Che cos'è il bilancio di previsione?</h3>
		<p>La legislazione dispone che annualmente sia deliberato da parte degli enti locali il bilancio di previsione come competenza. Il termine competenza significa che il bilancio è riferito alle entrate per le quali si prevede che maturi il diritto alla riscossione ed alle uscite per le quali si prevede che sorga l’obbligo di pagare, prescindendo dalle realizzazione delle fasi di cassa (incasso o pagamento). Quindi attenzione, il bilancio di previsione riporta appunto previsioni, non quanto effettivamente poi sarà realizzato, i dati certi si rilevano invece nel bilancio consuntivo.</p>
		<p>Il bilancio di previsione è deliberato in pareggio finanziario complessivo, ciò significa che le entrate devono essere uguali alle uscite.</p>
		<p>Fermo restando che il bilancio dovrebbe essere presentato con dati e informazioni chiare sulle scelte praticate, queste scelte possono essere comprese da fonti a cui fare riferimento: il Documento Unico di Programmazione (DUP), che accompagna il bilancio di previsione e la relazione di accompagnamento al rendiconto che vengono predisposte dalla Giunta Comunale.</p>
	</div>
</div>
<div class="aside">
	<div class="section">
		<h2>Lo staff</h2>
		<p>{{ siteTitle }} è sviluppato e gestito da: {{ siteManager }}.</p>
		<p>Il sito e i <a href="nota-sui-dati.html">dati</a> sono sotto la responsabilità di: {{ dataManager }}.</p>
		<p>Il progetto è basato sulla piattaforma gratuita <a href="http://www.bilanciocivico.it">BilancioCivico</a> sviluppato dell'<a href="http://www.redderationem.org">Associazione di Promozione Sociale Redde Rationem</a>.</p>
	</div>
</div>
{% endblock %}