{#
© Copyright 2016 Associazione di promozione sociale Redde Rationem

This file was authored by:

- Gianmarco Tuccini <gianmarcotuccini@redderationem.org>
- Paolo Landi <paololandi@redderationem.org>
- Marco Santini <marcosantini@redderationem.org>

This file is part of BilancioCivico.

BilancioCivico is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BilancioCivico is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BilancioCivico.  If not, see <http://www.gnu.org/licenses/>.

Supplemental term under GNU Affero General Public License version 3 section 7

You must retain the whole attribution (both the copyright line and the actual authors' list)
#}
{% spaceless %}
<!DOCTYPE html>
<html class="{{ class }}" lang="it-IT">
	<head>
		<base href="{{ baseUrl }}"/>
		<link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css"/>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<title>{{ siteTitle }}{% if pageTitle %} / {{ pageTitle }}{% endif %}</title>
	</head>
	<body>
		<div class="page">
			<div class="header">
				{% block header %}
				<div class="navigation primary">
					<a href="./"><img src="images/logo50.png"/></a>
					<ul>
						<li><a href="{{ defaultCycleCode }}/operazioni.html">Bilancio</a></li>
						<li><a href="progetto.html">Progetto</a></li>
						<li><a href="contatti.html">Contatti</a></li>
					</ul>
				</div>
				{% endblock %}
			</div>
			<div class="body">
				{% block body %}
				<div class="aside">{% block aside %}{% endblock %}</div>
				<div class="main">{% block main %}{% endblock %}</div>
				{% endblock %}
			</div>
			<div class="footer">
				{% block footer %}
				<p>Sito sviluppato e gestito da: {{ siteManager }}. Il sito e i <a href="nota-sui-dati.html">dati</a> sono sotto la responsabilità di: {{ dataManager }}.</p>
				<p>Il sito è basato sulla piattaforma <a href="http://www.bilanciocivico.it"/>BilancioCivico</a> dell'<a href="http://www.redderationem.org">Associazione di Promozione Sociale Redde Rationem</a>.</p>
				{% endblock %}
			</div>
		</div>
	</body>
</html>
{% endspaceless %}