{#
© Copyright 2016 Associazione di promozione sociale Redde Rationem

This file was authored by:

- Gianmarco Tuccini <gianmarcotuccini@redderationem.org>
- Paolo Landi <paololandi@redderationem.org>
- Marco Santini <marcosantini@redderationem.org>

This file is part of BilancioCivico.

BilancioCivico is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BilancioCivico is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BilancioCivico.  If not, see <http://www.gnu.org/licenses/>.

Supplemental term under GNU Affero General Public License version 3 section 7

You must retain the whole attribution (both the copyright line and the actual authors' list)
#}
{% extends 'customizations.html' %}
{% import 'macros.html' as macros %}
{% set pageTitle %}{{ cycleCode }} / Soggetti{% endset %}
{% block header %}
<h1>{{ cycleCode }} / Soggetti</h1>
{{ parent() }}
<div class="navigation secondary {{ match ? 'highlighted' : '' }}">
	<form>
		<input name="by" type="hidden" value="{{ by }}"/>
		<input name="direction" type="hidden" value="{{ direction }}"/>
		<input name="limit" type="hidden" value="{{ limit }}"/>
		<input name="offset" type="hidden" value="{{ offset }}"/>
		<input name="operator" type="hidden" value="{{ operator }}"/>
		<label><input name="match" placeholder="Cosa cerchi?" value="{{ match }}"/></label>
		<button type="submit">Cerca</button>
	</form>
	<ul>
		<li><a href="{{ cycleCode }}/operazioni.html?match={{ match }}">Operazioni</a></li>
		<li><a href="{{ cycleCode }}/capitoli.html?match={{ match }}">Capitoli</a></li>
		<li><a href="{{ cycleCode }}/sezioni.html?match={{ match }}">Sezioni</a></li>
		<li><a href="{{ cycleCode }}/atti.html?match={{ match }}">Atti</a></li>
		<li><strong>Soggetti</strong></li>
	</ul>
</div>
{% endblock %}
{% block body %}
<div class="main">
	<div class="section">
		{% if match %}
		<h2>Soggetti trovati</h2>
		{% else %}
		<h2>Tutti i soggetti</h2>
		{% endif %}
		{% if subjects.count %}
		<p>{{ subjects.count }} {{ macros.toCountable(subjects.count, 'soggetto', 'soggetti') }} ({{ macros.toAmount(subjects.amount) }})</p>
		<ul class="list">
			{% for v in subjects.rows %}
			<li>
				<a href="{{ cycleCode }}/soggetti/{{ v.code }}.html">{{ v.name }}</a>
				<div class="details">
					<input id="subject{{ v.id }}" type="checkbox"/>
					<label for="subject{{ v.id }}">
						{% if by == 'amount' %}
						{{ macros.toAmount(v.amount) }}
						{% elseif by == 'code' %}
						{{ v.code }}
						{% elseif by == 'count' %}
						{{ v.count }}
						{% elseif by == 'name' %}
						{{ v.name }}
						{% endif %}
					</label>
					<dl>
						<dt>Codice</dt>
						<dd>{{ v.code }}</dd>
						<dt>Nome</dt>
						<dd>{{ v.name }}</dd>
						<dt>Numero operazioni</dt>
						<dd>{{ v.count }}</dd>
						<dt>Totale operazioni</dt>
						<dd>{{ macros.toAmount(v.amount) }}</dd>
						<dt>Atti</dt>
						<dd><a href="{{ cycleCode }}/atti.html?match=subjects: {{ v.code }}">Cerca</a></dd>
						<dt>Capitoli</dt>
						<dd><a href="{{ cycleCode }}/capitoli.html?match=subjects: {{ v.code }}">Cerca</a></dd>
						<dt>Operazioni</dt>
						<dd><a href="{{ cycleCode }}/operazioni.html?match=subjects: {{ v.code }}">Cerca</a></dd>
						<dt>Sezioni</dt>
						<dd><a href="{{ cycleCode }}/sezioni.html?match=subjects: {{ v.code }}">Cerca</a></dd>
					</dl>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% if subjects.count > limit %}
		<div class="pagination">
			<p>{{ offset + 1 }}–{{ subjects.count > offset + limit ? offset + limit : subjects.count }} di {{ subjects.count }}</p>
			<ul>
				{% if offset > 0 %}
				<li><a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': 0}|url_encode }}" title="Prima pagina">&lt;&lt;</a></li>
				<li><a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': offset - limit}|url_encode }}" title="Pagina precedente">&lt;</a></li>
				{% endif %}
				{% if offset + limit < subjects.count %}
				<li><a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': offset + limit}|url_encode }}" title="Prossima pagina">&gt;</a></li>
				<li><a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': subjects.count - limit}|url_encode }}" title="Ultima pagina">&gt;&gt;</a></li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
		{% else %}
		<p>Nessun soggetto</p>
		{% endif %}
	</div>
</div>
<div class="aside">
	<div class="section">
		<h2>Preferenze</h2>
		<h3>Quale parte ti interessa?</h3>
		<ul class="menu inline">
			<li>
				{% if operator == '>' %}
				<strong>Le entrate</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': 0, 'operator': '>'}|url_encode }}">Le entrate</a>
				{% endif %}
			</li>
			<li>
				{% if operator == '<' %}
				<strong>Le spese</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': 0, 'operator': '<'}|url_encode }}">Le spese</a>
				{% endif %}
			</li>
		</ul>
		<h3>Per cosa vuoi ordinare i risultati?</h3>
		<ul class="menu inline">
			<li>
				{% if by == 'code' %}
				<strong>Per codice</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': 'code', 'direction': direction, 'limit': limit, 'match': match, 'offset': 0}|url_encode }}">Per codice</a>
				{% endif %}
			</li>
			<li>
				{% if by == 'name' %}
				<strong>Per nome</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': 'name', 'direction': direction, 'limit': limit, 'match': match, 'offset': 0}|url_encode }}">Per nome</a>
				{% endif %}
			</li>
			<li>
				{% if by == 'count' %}
				<strong>Per numero delle operazioni</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': 'count', 'direction': direction, 'limit': limit, 'match': match, 'offset': 0}|url_encode }}">Per numero delle operazioni</a>
				{% endif %}
			</li>
			<li>
				{% if by == 'amount' %}
				<strong>Per totale delle operazioni</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': 'amount', 'direction': direction, 'limit': limit, 'match': match, 'offset': 0}|url_encode }}">Per totale delle operazioni</a>
				{% endif %}
			</li>
		</ul>
		<h3>In quale verso?</h3>
		<ul class="menu inline">
			<li>
				{% if direction == 'ASC' %}
				<strong>Crescente</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': 'ASC', 'limit': limit, 'match': match, 'offset': 0}|url_encode }}">Crescente</a>
				{% endif %}
			</li>
			<li>
				{% if direction == 'DESC' %}
				<strong>Decrescente</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': 'DESC', 'limit': limit, 'match': match, 'offset': 0}|url_encode }}">Decrescente</a>
				{% endif %}
			</li>
		</ul>
		<h3>Quanti vuoi mostrarne per pagina?</h3>
		<ul class="menu inline">
			<li>
				{% if limit == 25 %}
				<strong>25</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': direction, 'limit': 25, 'match': match, 'offset': 0}|url_encode }}">25</a>
				{% endif %}
			</li>
			<li>
				{% if limit == 50 %}
				<strong>50</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': direction, 'limit': 50, 'match': match, 'offset': 0}|url_encode }}">50</a>
				{% endif %}
			</li>
			<li>
				{% if limit == 100 %}
				<strong>100</strong>
				{% else %}
				<a href="{{ cycleCode }}/soggetti.html?{{ {'by': by, 'direction': direction, 'limit': 100, 'match': match, 'offset': 0}|url_encode }}">100</a>
				{% endif %}
			</li>
		</ul>
	</div>
</div>
{% endblock %}