{#
© Copyright 2016 Associazione di promozione sociale Redde Rationem

This file was authored by:

- Gianmarco Tuccini <gianmarcotuccini@redderationem.org>
- Paolo Landi <paololandi@redderationem.org>
- Marco Santini <marcosantini@redderationem.org>

This file is part of BilancioCivico.

BilancioCivico is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BilancioCivico is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BilancioCivico.  If not, see <http://www.gnu.org/licenses/>.

Supplemental term under GNU Affero General Public License version 3 section 7

You must retain the whole attribution (both the copyright line and the actual authors' list)
#}
{% extends 'customizations.html' %}
{% import 'macros.html' as macros %}
{% set pageTitle %}{{ cycleCode }} / Operazione / {{ transaction.description }}{% endset %}
{% block header %}
<h1>{{ cycleCode }} / Operazione / {{ transaction.description }}</h1>
{{ parent() }}
<div class="navigation secondary">
	<form action="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html">
		<label><input name="match" placeholder="Cosa cerchi?"/></label>
		<button type="submit">Cerca</button>
	</form>
	<ul>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html">Operazioni</a></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/capitoli.html">Capitoli</a></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/sezioni.html">Sezioni</a></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/atti.html">Atti</a></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/soggetti.html">Soggetti</a></li>
	</ul>
</div>
{% endblock %}
{% block body %}
<div class="main">
	<div class="section">
		<h2>Dettaglio dell'operazione</h2>
		<dl>
			<dt>Codice</dt>
			<dd>{{ transaction.code }}</dd>
			{#
			{% if transaction.cigCode %}
			<dt>Codice CIG</dt>
			<dd>{{ transaction.cigCode }}</dd>
			{% endif %}
			{% if transaction.cupCode %}
			<dt>Codice CUP</dt>
			<dd>{{ transaction.cupCode }}</dd>
			{% endif %}
			#}
			<dt>Descrizione</dt>
			<dd>{{ transaction.description }}</dd>
			<dt>Data</dt>
			<dd>{{ transaction.date }}</dd>
			<dt>Totale</dt>
			<dd>{{ macros.toAmount(transaction.amount) }}</dd>
			{% if transaction.actId %}
			<dt>Atto</dt>
			<dd><a href="{{ cycleCode|url_encode|double_encode_slashes }}/atti/{{ transaction.actCode|url_encode|double_encode_slashes }}.html">{{ transaction.actDescription }}</a></dd>
			{% endif %}
			{% if transaction.subdivisionId %}
			<dt>Capitolo</dt>
			<dd><a href="{{ cycleCode|url_encode|double_encode_slashes }}/capitoli/{{ transaction.subdivisionCode|url_encode|double_encode_slashes }}.html">{{ transaction.subdivisionDescription }}</a></dd>
			{% endif %}
			{% if transaction.divisionId %}
			<dt>Sezione</dt>
			<dd><a href="{{ cycleCode|url_encode|double_encode_slashes }}/sezioni/{{ transaction.divisionCode|url_encode|double_encode_slashes }}.html">{{ transaction.divisionDescription }}</a></dd>
			{% endif %}
			{% if transaction.subjectId %}
			<dt>Soggetto</dt>
			<dd><a href="{{ cycleCode|url_encode|double_encode_slashes }}/soggetti/{{ transaction.subjectCode|url_encode|double_encode_slashes }}.html">{{ transaction.subjectName }}</a></dd>
			{% endif %}
		</dl>
	</div>
</div>
<div class="aside">
	<div class="section">
		<h2>Segnalazioni</h2>
		<form action="contatti.html" method="post">
			<input name="subject" type="hidden" value="Segnalazione sul soggetto '{{ transaction.description }}' (codice: {{ transaction.code }})"/>
			<label>
				<span>Recapito *</span>
				<input name="contact" placeholder="Email, cellulare o telefono" required="required"/>
			</label>
			<label>
				<span>Messaggio *</span>
				<textarea name="message" placeholder="Quel che vuoi segnalarci" required="required"></textarea>
			</label>
			<button type="submit">Invia</button>
		</form>
	</div>
</div>
{% endblock %}