{#
© Copyright 2016 Associazione di promozione sociale Redde Rationem

This file was authored by:

- Gianmarco Tuccini <gianmarcotuccini@redderationem.org>
- Paolo Landi <paololandi@redderationem.org>
- Marco Santini <marcosantini@redderationem.org>

This file is part of BilancioCivico.

BilancioCivico is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BilancioCivico is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BilancioCivico.  If not, see <http://www.gnu.org/licenses/>.

Supplemental term under GNU Affero General Public License version 3 section 7

You must retain the whole attribution (both the copyright line and the actual authors' list)
#}
{% extends 'customizations.html' %}
{% import 'macros.html' as macros %}
{% set pageTitle %}{{ cycleCode }} / Operazioni{% endset %}
{% block header %}
<h1>{{ cycleCode }} / Operazioni</h1>
{{ parent() }}
<div class="navigation secondary {{ match ? 'highlighted' : '' }}">
	<form>
		<input name="by" type="hidden" value="{{ by }}"/>
		<input name="direction" type="hidden" value="{{ direction }}"/>
		<input name="limit" type="hidden" value="{{ limit }}"/>
		<input name="offset" type="hidden" value="{{ offset }}"/>
		<input name="operator" type="hidden" value="{{ operator }}"/>
		<label><input name="match" placeholder="Cosa cerchi?" value="{{ match }}"/></label>
		<button type="submit">Cerca</button>
	</form>
	<ul>
		<li><strong>Operazioni</strong></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/capitoli.html?{{ {'match': match, 'operator': operator}|url_encode|double_encode_slashes }}">Capitoli</a></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/sezioni.html?{{ {'match': match, 'operator': operator}|url_encode|double_encode_slashes }}">Sezioni</a></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/atti.html?{{ {'match': match, 'operator': operator}|url_encode|double_encode_slashes }}">Atti</a></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/soggetti.html?{{ {'match': match, 'operator': operator}|url_encode|double_encode_slashes }}">Soggetti</a></li>
	</ul>
</div>
{% endblock %}
{% block body %}
<div class="main">
	<div class="section">
		{% if match %}
		<h2>Operazioni trovate</h2>
		{% else %}
		<h2>Tutte le operazioni</h2>
		{% endif %}
		{% if transactions.count %}
		<p>{{ transactions.count }} {{ macros.toCountable(transactions.count, 'operazione', 'operazioni') }} ({{ macros.toAmount(transactions.amount) }})</p>
		<ul class="list">
			{% for v in transactions.rows %}
			<li>
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni/{{ v.code|url_encode|double_encode_slashes }}.html">{{ v.description }}</a>
				<div class="details">
					<input id="transaction{{ v.id }}" type="checkbox"/>
					<label for="transaction{{ v.id }}">
						{% if by == 'amount' %}
						{{ macros.toAmount(v.amount) }}
						{% elseif by == 'code' %}
						{{ v.code }}
						{% elseif by == 'date' %}
						{{ macros.toDate(v.date) }}
						{% elseif by == 'description' %}
						{{ v.description }}
						{% endif %}
					</label>
					<dl>
						<dt>Codice</dt>
						<dd>{{ v.code }}</dd>
						<dt>Descrizione</dt>
						<dd>{{ v.description }}</dd>
						<dt>Data</dt>
						<dd>{{ v.date }}</dd>
						<dt>Totale</dt>
						<dd>{{ macros.toAmount(v.amount) }}</dd>
						{% if v.actId %}
						<dt>Atto</dt>
						<dd><a href="{{ cycleCode|url_encode|double_encode_slashes }}/atti/{{ v.actCode|url_encode|double_encode_slashes }}.html">{{ v.actDescription }}</a></dd>
						{% endif %}
						{% if v.subdivisionId %}
						<dt>Capitolo</dt>
						<dd><a href="{{ cycleCode|url_encode|double_encode_slashes }}/capitoli/{{ v.subdivisionCode|url_encode|double_encode_slashes }}.html">{{ v.subdivisionDescription }}</a></dd>
						{% endif %}
						{% if v.divisionId %}
						<dt>Sezione</dt>
						<dd><a href="{{ cycleCode|url_encode|double_encode_slashes }}/sezioni/{{ v.divisionCode|url_encode|double_encode_slashes }}.html">{{ v.divisionDescription }}</a></dd>
						{% endif %}
						{% if v.subjectId %}
						<dt>Soggetto</dt>
						<dd><a href="{{ cycleCode|url_encode|double_encode_slashes }}/soggetti/{{ v.subjectCode|url_encode|double_encode_slashes }}.html">{{ v.subjectName }}</a></dd>
						{% endif %}
					</dl>
				</div>	
			</li>
			{% endfor %}
		</ul>
		{% if transactions.count > limit %}
		<div class="pagination">
			<p>{{ offset + 1 }}–{{ transactions.count > offset + limit ? offset + limit : transactions.count }} di {{ transactions.count }}</p>
			<ul>
				{% if offset > 0 %}
				<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': 0, 'operator': operator}|url_encode|double_encode_slashes }}" title="Prima pagina">&lt;&lt;</a></li>
				<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': offset - limit, 'operator': operator}|url_encode|double_encode_slashes }}" title="Pagina precedente">&lt;</a></li>
				{% endif %}
				{% if offset + limit < transactions.count %}
				<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': offset + limit, 'operator': operator}|url_encode|double_encode_slashes }}" title="Prossima pagina">&gt;</a></li>
				<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': transactions.count - limit, 'operator': operator}|url_encode|double_encode_slashes }}" title="Ultima pagina">&gt;&gt;</a></li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
		{% else %}
		<p>Nessuna operazione</p>
		{% endif %}
	</div>
</div>
<div class="aside">
	<div class="section">
		<h2>Preferenze</h2>
		<h3>Quale parte ti interessa?</h3>
		<ul class="menu inline">
			<li>
				{% if operator == '>' %}
				<strong>Le entrate</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': 0, 'operator': '>'}|url_encode|double_encode_slashes }}">Le entrate</a>
				{% endif %}
			</li>
			<li>
				{% if operator == '<' %}
				<strong>Le spese</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': direction, 'limit': limit, 'match': match, 'offset': 0, 'operator': '<'}|url_encode|double_encode_slashes }}">Le spese</a>
				{% endif %}
			</li>
		</ul>
		<h3>Per cosa vuoi ordinare i risultati?</h3>
		<ul class="menu inline">
			<li>
				{% if by == 'code' %}
				<strong>Per codice</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': 'code', 'direction': direction, 'limit': limit, 'match': match, 'offset': 0, 'operator': operator}|url_encode|double_encode_slashes }}">Per codice</a>
				{% endif %}
			</li>
			<li>
				{% if by == 'date' %}
				<strong>Per data</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': 'date', 'direction': direction, 'limit': limit, 'match': match, 'offset': 0, 'operator': operator}|url_encode|double_encode_slashes }}">Per data</a>
				{% endif %}
			</li>
			<li>
				{% if by == 'description' %}
				<strong>Per descrizione</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': 'description', 'direction': direction, 'limit': limit, 'match': match, 'offset': 0, 'operator': operator}|url_encode|double_encode_slashes }}">Per descrizione</a>
				{% endif %}
			</li>
			<li>
				{% if by == 'amount' %}
				<strong>Per totale</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': 'amount', 'direction': direction, 'limit': limit, 'match': match, 'offset': 0, 'operator': operator}|url_encode|double_encode_slashes }}">Per totale</a>
				{% endif %}
			</li>
		</ul>
		<h3>In quale verso?</h3>
		<ul class="menu inline">
			<li>
				{% if direction == 'ASC' %}
				<strong>Crescente</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': 'ASC', 'limit': limit, 'match': match, 'offset': 0, 'operator': operator}|url_encode|double_encode_slashes }}">Crescente</a>
				{% endif %}
			</li>
			<li>
				{% if direction == 'DESC' %}
				<strong>Decrescente</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': 'DESC', 'limit': limit, 'match': match, 'offset': 0, 'operator': operator}|url_encode|double_encode_slashes }}">Decrescente</a>
				{% endif %}
			</li>
		</ul>
		<h3>Quante vuoi mostrarne per pagina?</h3>
		<ul class="menu inline">
			<li>
				{% if limit == 25 %}
				<strong>25</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': direction, 'limit': 25, 'match': match, 'offset': 0, 'operator': operator}|url_encode|double_encode_slashes }}">25</a>
				{% endif %}
			</li>
			<li>
				{% if limit == 50 %}
				<strong>50</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': direction, 'limit': 50, 'match': match, 'offset': 0, 'operator': operator}|url_encode|double_encode_slashes }}">50</a>
				{% endif %}
			</li>
			<li>
				{% if limit == 100 %}
				<strong>100</strong>
				{% else %}
				<a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?{{ {'by': by, 'direction': direction, 'limit': 100, 'match': match, 'offset': 0, 'operator': operator}|url_encode|double_encode_slashes }}">100</a>
				{% endif %}
			</li>
		</ul>
	</div>
</div>
{% endblock %}