{#
© Copyright 2016 Associazione di promozione sociale Redde Rationem

This file was authored by:

- Gianmarco Tuccini <gianmarcotuccini@redderationem.org>
- Paolo Landi <paololandi@redderationem.org>
- Marco Santini <marcosantini@redderationem.org>

This file is part of BilancioCivico.

BilancioCivico is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BilancioCivico is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with BilancioCivico.  If not, see <http://www.gnu.org/licenses/>.

Supplemental term under GNU Affero General Public License version 3 section 7

You must retain the whole attribution (both the copyright line and the actual authors' list)
#}
{% extends 'customizations.html' %}
{% import 'macros.html' as macros %}
{% set pageTitle %}{{ cycleCode }} / Operazioni{% endset %}
{% block header %}
<h1>{{ cycleCode }} / Operazioni</h1>
{{ parent() }}
<div class="navigation secondary">
	<form>
		<label><input name="match" placeholder="Cosa cerchi?"/></label>
		<button type="submit">Cerca</button>
	</form>
	<ul>
		<li><strong>Operazioni</strong></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/capitoli.html">Capitoli</a></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/sezioni.html">Sezioni</a></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/atti.html">Atti</a></li>
		<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/soggetti.html">Soggetti</a></li>
	</ul>
</div>
{% endblock %}
{% block body %}
<div class="main">
	<div class="section">
		<h2>Le operazioni del bilancio</h2>
		<p>Le operazioni sono i singoli accertamenti (entrate) o impegni (spese) effettuati dall'ente.</p>
		<p>L'operazione di accertamento è la prima fase della <a href="https://it.wikipedia.org/wiki/Entrata_%28bilancio_comunale%29#Gestione_delle_entrate">gestione delle entrate</a>, nella quale si identifica il motivo per cui una determinata somma di denaro deve essere pagata all'ente da un soggetto.</p>
		<p>L'operazione di impegno è la prima fase della <a href="https://it.wikipedia.org/wiki/Spesa_%28bilancio_comunale%29#Gestione_della_spesa">gestione delle spese</a>, che coincide con il momento in cui l'ente riserva una somma di denaro per una determinata spesa futura da versare nei confronti di un determinato soggetto beneficiario. Dal punto di vista dei cittadini gli impegni rappresentano le modalità con cui il governo comunale ha deciso di investire nel corso dell'anno le entrate.</p>
		<p>Le operazioni di accertamento di entrata e impegno di spesa sono identificate da un numero progressivo e dall'anno finanziario in cui è emesso (<a href="https://it.wikipedia.org/wiki/Bilancio_comunale#La_gestione_del_bilancio">esercizio di competenza</a>)</p>
		<p>Una operazione può essere relativa ad un singolo o a più beneficiari, ed è associata ad un preciso capitolo di bilancio, che presenta al momento della sua assunzione la necessaria disponibilità (altrimenti si parla di <a href="https://it.wikipedia.org/wiki/Glossario_del_bilancio_comunale#Debito_fuori_bilancio">debito fuori bilancio</a>).</p>
	</div>
</div>
<div class="aside">
	<div class="section">
		<h2>Elenchi completi</h2>
		<ul class="menu">
			<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?match=Mostra tutto&operator=&gt;">Entrate per totale decrescente</a></li>
			<li><a href="{{ cycleCode|url_encode|double_encode_slashes }}/operazioni.html?match=Mostra tutto">Spese per totale decrescente</a></li>
		</ul>
	</div>
</div>
{% endblock %}